// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 2;

$primary: #E30613;
$nav-link-color: var(--bs-body-color);
$nav-link-hover-color: var(--bs-body-color);